body{
    background-color: #e3e3e3;
}

.div-title{
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
}

#title{
    text-align: center;
    font-size: 6vw;
    color: White;
    margin: 0;
}

.div-counter{
    width: 100%;
    text-align: center;
}
button{
    font-size: 4vw;
    margin: 15px;
    width: 8vw;
    height: 8vw;
}
#counter{
    font-size: 8vw;
}